.middle {
    background-image: linear-gradient(#81a1c1,#8fbcbb);
    height: fit-content;
    padding-top: 50px;
    max-height: auto;
    padding-bottom: 70px;
    min-height: 100vh;
}
.heho-heading {
    font-size: 70px;
}
.about-me {
    display: flex;
    align-items: center;
}
.lmao {
    padding: 100px 0px;
    margin:0px auto;
    max-width:900px;
    padding-bottom: 0px;
}
.heho-heading::before {
    content: "01.";
}
.about-me::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 550px;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid black;
}
.description {
    font-size: 40px;
    line-height: 50px;
    color: #d8dee9;
}
.links-list {
    margin-top: 20px;


}
.fly-over {
    font-size :40px ; 
    color: #1d3a4d;
}
.check-outs-sections {
    background-image: linear-gradient(#4c566a,#434c5e);
    height: fit-content;
    min-height: 100vh;
    padding:50px 100px;
}
.lil-heading,
.lol-heading {
    font-size: 70px;
}
.lol-heading::before {
    content: "02.";
}
.lol-heading::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 550px;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid black;
}

.fav-anime-list {
    font-size: 40px;
    color:#b2ceeb;
    margin-bottom: 30px;
}
.lil-heading::before {
    content: "03.";
}
.lil-heading::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 550px;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid black;
}
